<!-- Header -->
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex items-center justify-end">
    <h1 class="text-xl text-gray-900 text-end">Hello, Admin</h1>
    <ul class="flex gap-2 ml-3">
      <li><a href="/user/login">Login</a></li>
      <li><a href="/user/signup">Signup</a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</header>